@model Web.Models.Clothing

@{
	ViewData["Title"] = "訂單內容";
}

<h1>@ViewData["Title"]</h1>

<div>
	<h4>Clothing</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Seq)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Seq)
		</dd>
		@*<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MemberId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MemberId)
		</dd>*@
		<dt class="col-sm-2">
			會員
		</dt>
		<dd class="col-sm-10">
			(@Model.MemberId)@ViewBag.Members[Model.MemberId].Name
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Type)
		</dt>
		<dd class="col-sm-10">
			@*@Html.DisplayFor(model => model.Type)*@
			@ViewBag.ClothingTypes[Model.Type]
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Color)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Color)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Action)
		</dt>
		<dd class="col-sm-10">
			@*@Html.DisplayFor(model => model.Action)*@
			@ViewBag.ClothingActions[Model.Action]
		</dd>
		<dt class="col-sm-2">	
			@Html.DisplayNameFor(model => model.PackageTypeId)
		</dt>
		<dd class="col-sm-10">
			@if (Model.PackageTypeId > 0)
			{
				@ViewBag.ClothingPackageTypes[Model.PackageTypeId.Value]
			}
			@*@Html.DisplayFor(model => model.PackageTypeId)*@
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Remark)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Remark)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Amount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Amount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DiscountAmount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DiscountAmount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Paid)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Paid)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Status)
		</dt>
		<dd class="col-sm-10">
			@*@Html.DisplayFor(model => model.Status)*@
			@ViewBag.ClothingStatus[Model.Status]
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ReceiveDt)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ReceiveDt)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PickupDt)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PickupDt)
		</dd>
	</dl>
</div>

<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">編輯衣物資料</a> |
	<a asp-action="Delete" asp-route-id="@Model.Id">刪除衣物資料</a> |
	<a asp-action="Create" asp-controller="ClothingPictures" asp-route-ClothingId="@Model.Id">拍照</a> |
	<a asp-action="Index" asp-controller="ClothingPictures" asp-route-ClothingId="@Model.Id">刪除照片</a> |
	<a asp-action="Index" asp-route-MemberId="@Model.MemberId">回到此會員的衣物清單</a>
</div>
<hr />
@foreach (var item in @ViewBag.ClothingPictures)
{
	<a asp-action="Index" asp-controller="ClothingPictures" asp-route-ClothingId="@Model.Id"><img src="@item.Content" h /></a>
}
