@model IEnumerable<Web.Models.Clothing>

@{
	ViewData["Title"] = "衣物清單";
}

<h1>@ViewData["Title"]</h1>


<hr />
@if (ViewBag.MemberId > 0)
{
<h4>會員: @ViewBag.MemberId @ViewBag.MemberName</h4>
<ul>
	<li>餘額: @ViewBag.Members[ViewBag.MemberId].Amount</li>
	<li>未付衣物金額: @ViewBag.UnPayAmount </li>
	<li>預計餘額: @ViewBag.estimateAmount</li>
	<li>報表時間: @ViewBag.ReportDt</li>
</ul>
}
<hr />
<h4>選單:</h4>
<ul>
	<li>
		@if (ViewBag.MemberId > 0)
		{
			<a asp-action="Create" asp-route-memberId="@ViewBag.MemberId">建立訂單</a>
		}
		else
		{
			<a asp-controller="Members" asp-action="Index">建立訂單請由 "會員資料" 進入</a>
		}
	</li>
	<li>僅顯示「未取件」的資料，可點此<a asp-action="Index" asp-route-memberId="@ViewBag.MemberId" asp-route-unPickup=false>顯示所有衣物資料</a> </li>
	<li><a asp-action="Index" asp-route-memberId="@ViewBag.MemberId" asp-route-print="true">友善列印</a> </li>
</ul>
<hr />
<div>
	<h4>備註:</h4>
	<ul>
		<li>若顧客已付款，則點選 「已付款」，此動作會在「會員總餘額」減掉此訂單的金額</li>
		<li>「改回未付款」 則會在「會員總餘額」加回此訂單的金額</li>
	</ul>
</div>

<div style="color:#DC143C; font-size:large">@ViewBag.ErrorMsg</div>
<table id="myTable" class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Seq)
			</th>
			<th>
				會員
			</th>
			@*<th>
			@Html.DisplayNameFor(model => model.MemberId)
		</th>*@
			<th>
				@Html.DisplayNameFor(model => model.Type)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Color)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Action)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PackageTypeId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Remark)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Amount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DiscountAmount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Paid)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ReceiveDt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PickupDt)
			</th>
			@*<th>
			@Html.DisplayNameFor(model => model.PicNo)
		</th>*@
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@if (item.Seq > 0)
				{
					<a asp-action="Details" asp-route-id="@item.Id">@item.Seq</a>
				}
				else
				{
					<a asp-action="Details" asp-route-id="@item.Id">無</a>
				}

				@*@Html.DisplayFor(modelItem => item.Seq)*@
			</td>
			<td>
				<a asp-action="Index" asp-controller="Members" asp-route-Id="@item.MemberId">(@item.MemberId)@ViewBag.Members[item.MemberId].Name</a>
			</td>
			@*<td>
			@Html.DisplayFor(modelItem => item.MemberId)
		</td>*@
			<td>
				@*@Html.DisplayFor(modelItem => item.Type)*@
				@ViewBag.ClothingTypes[item.Type]
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Color)
			</td>
			<td>
				@*@Html.DisplayFor(modelItem => item.Action)*@
				@ViewBag.ClothingActions[item.Action]
			</td>
			<td>
				@if(item.PackageTypeId > 0)
				{
					@ViewBag.ClothingPackageTypes[item.PackageTypeId.Value]
				}
				@*@Html.DisplayFor(modelItem => item.PackageTypeId)*@
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Remark)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Amount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DiscountAmount)
			</td>
			<td>
				@if (item.Paid)
				{
					<span>已付</span>
				}
				else
				{
					<span>未付</span>
				}

			</td>
			<td>
				@*@Html.DisplayFor(modelItem => item.Status)*@
				@ViewBag.ClothingStatus[item.Status]
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ReceiveDt)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PickupDt)
			</td>
			@*<td>
			@Html.DisplayFor(modelItem => item.PicNo)
		</td>*@
		<td>
			<!--<a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |-->
			@*<a asp-action="Details" asp-route-id="@item.Id">訂單內容</a> |*@
			<a asp-action="Delete" asp-route-id="@item.Id">刪除</a> |

			@if (!item.Paid)
			{
				<a asp-action="Paid" asp-route-id="@item.Id">已付款</a>
			}
			else
			{
				<a asp-action="UnPaid" asp-route-id="@item.Id">改回未付款</a>
			} |

			@if (!item.IsPickup)
			{
				<a asp-action="Pickup" asp-route-id="@item.Id">顧客取件</a>
			}
			else
			{
				<a asp-action="UnPickup" asp-route-id="@item.Id">取消取件</a>
			} |

			<a asp-action="Transfer" asp-route-id="@item.Id">移轉</a> |
		</td>
		</tr>
		}
	</tbody>
</table>

@section scripts{

}
