@model Web.Models.Clothing

@{
	ViewData["Title"] = "衣物轉移";
}

<h1>@ViewData["Title"]</h1>

<p class="text-danger">注意: 只有店長可以轉移</p>

<hr />

<div>
	<h4>原衣物資料</h4>

	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Seq)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Seq)
		</dd>
		<dt class="col-sm-2">
			會員
		</dt>
		<dd class="col-sm-10">
			(@Model.MemberId)@ViewBag.Members[Model.MemberId].Name
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Type)
		</dt>
		<dd class="col-sm-10">
			@*@Html.DisplayFor(model => model.Type)*@
			@ViewBag.ClothingTypes[Model.Type]
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Color)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Color)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Action)
		</dt>
		<dd class="col-sm-10">
			@*@Html.DisplayFor(model => model.Action)*@
			@ViewBag.ClothingActions[Model.Action]
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Remark)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Remark)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Amount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Amount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DiscountAmount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DiscountAmount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Paid)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Paid)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Status)
		</dt>
		<dd class="col-sm-10">
			@*@Html.DisplayFor(model => model.Status)*@
			@ViewBag.ClothingStatus[Model.Status]
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ReceiveDt)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ReceiveDt)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PickupDt)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PickupDt)
		</dd>
	</dl>

	<form asp-action="Transfer">
		<input type="hidden" asp-for="Id" />
		@if (Model.Paid)
		{
			<span class="text-danger">要改回「未付款」才能移轉 </span>
		}
		else
		{
			<hr />
			<div class="form-group">
				<label asp-for="MemberId" class="control-label">請輸入目標會員編號: </label>
				<input asp-for="MemberId" class="form-control" />
				<span asp-validation-for="MemberId" class="text-danger"></span>
				<span class="text-danger">@ViewBag.MemberIdError</span>
			</div>
			<input type="submit" value="移轉" class="btn btn-danger" />
		}
	</form>

	<hr />

	<a asp-action="Index" asp-route-memberId="@Model.MemberId">回到衣物清單</a>
</div>
