@model Web.Models.Member

@{
    ViewData["Title"] = "刪除會員";
}

<h1>@ViewData["Title"]</h1>

<h3>是否確認要刪除這個會員?</h3>
<p class="text-danger">注意: 只有店長可以刪除</p>
<div>
    <h4>Member</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Amount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Amount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Phone)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Phone)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Address)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UniformNo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UniformNo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Remark)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Remark)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LineId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LineId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreateDt)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CreateDt)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreateBy)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CreateBy)
		</dd>
	</dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">回到會員清單</a>
    </form>
</div>
