@model IEnumerable<Web.Models.Member>

@{
    ViewData["Title"] = "會員資料清單";
}

<h1>@ViewData["Title"]</h1>

<p>
	<a asp-action="Create">建立會員資料</a>
</p>

<div>
	備註:
	<ul>
		<li>不管顧客是付錢還是儲值，都請使用 "收現/儲值" 功能</li>
		<li>若會員衣物都已勾選已繳款，會員的餘額呈現負數，代表顧客欠你這麼多錢</li>
	</ul>
</div>

<table id="myTable" class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Amount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			@*<th>
				@Html.DisplayNameFor(model => model.UniformNo)
			</th>*@
			<th>
				@Html.DisplayNameFor(model => model.Remark)
			</th>
			@*<th>
				@Html.DisplayNameFor(model => model.LineId)
			</th>*@
			<th>
				@Html.DisplayNameFor(model => model.CreateDt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpdateDt)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
		<tr>
			<td>
				@*@Html.DisplayFor(modelItem => item.Id)*@
				<a asp-action="Details" asp-route-id="@item.Id">@item.Id</a>
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Amount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Phone)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Address)
			</td>
			@*<td>
				@Html.DisplayFor(modelItem => item.UniformNo)
			</td>*@
			<td>
				@Html.DisplayFor(modelItem => item.Remark)
			</td>
			@*<td>
				@Html.DisplayFor(modelItem => item.LineId)
			</td>*@
			<td>
				@Html.DisplayFor(modelItem => item.CreateDt)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UpdateDt)
			</td>
			<td>
				<a asp-action="Index" asp-controller="Clothings" asp-route-memberId="@item.Id">衣物清單</a> |
				<a asp-action="Create" asp-controller="Clothings" asp-route-memberId="@item.Id">建立訂單(收衣)</a> |
				<a asp-action="EditAmount" asp-route-id="@item.Id">收現/儲值</a> |
				<a asp-controller="Logs" asp-action="Index" asp-route-memberId="@item.Id">顧客交易明細</a> |
			</td>
		</tr>
}
	</tbody>
</table>