@model IEnumerable<Web.Models.ClothingManageViewModel>


<h1>@ViewData["Title"]</h1>
<h4>總筆數: @ViewBag.Count</h4>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table id="myTable" class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ClothingSeq)
			</th>
			<th>
				會員
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Type)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Color)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Amount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ReceiveDayCount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ReceiveDt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PickupDt)
			</th>
			@*<th></th>*@
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@if (item.ClothingSeq > 0)
				{
					<a asp-controller="Clothings" asp-action="Details" asp-route-id="@item.Id">@item.ClothingSeq</a>
				}
				else
				{
					<a asp-controller="Clothings" asp-action="Details" asp-route-id="@item.Id">無</a>
				}
				@*@Html.DisplayFor(modelItem => item.ClothingSeq)*@
			</td>
			<td>
				<a asp-action="Index" asp-controller="Members" asp-route-Id="@item.MemberId">(@item.MemberId)@ViewBag.Members[item.MemberId].Name</a>
			</td>
			<td>
				@ViewBag.ClothingTypes[item.Type]
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ColorStr)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Amount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ReceiveDayCount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ReceiveDt)
			</td>
			<td>
				@ViewBag.ClothingStatus[(int)item.Status]
				@*@Html.DisplayFor(modelItem => item.Status)*@
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PickupDt)
			</td>
			@*<td>
			@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
		</td>*@
		</tr>
}
    </tbody>
</table>
