@model IEnumerable<Web.Models.UnWashViewModel>

@{
    ViewData["Title"] = "已清洗未取件衣物清單";
}

<h1>@ViewData["Title"]</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClothingSeq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveDayCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
			<td>
				@if (item.ClothingSeq > 0)
				{
					<a asp-controller="Clothings" asp-action="Details" asp-route-id="@item.Id">@item.ClothingSeq</a>
				}
				else
				{
					<a asp-controller="Clothings" asp-action="Details" asp-route-id="@item.Id">無</a>
				}
				@*@Html.DisplayFor(modelItem => item.ClothingSeq)*@
			</td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiveDayCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiveDt)
            </td>
			<td>
				@ViewBag.ClothingStatus[item.Status]
				@*@Html.DisplayFor(modelItem => item.Status)*@
			</td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
