@model Web.Models.CashCheckout

@{
    ViewData["Title"] = "現金結帳-刪除資料";
}

<h1>@ViewData["Title"]</h1>

<h3>你確定要刪除沒這筆資料?</h3>
<div>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Dt)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Dt)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MachineAmount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MachineAmount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SelfWashAmount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SelfWashAmount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreateDt)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CreateDt)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UpdateDt)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UpdateDt)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UpdateBy)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UpdateBy)
		</dd>
	</dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
